<footer id="footer" class="uk-section uk-margin-remove uk-text-small uk-text-muted border-top">
  <div class="uk-container">
    <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
      <div class="uk-text-right@m">
        <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: facebook"></a>
        <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: google"></a>
        <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: vimeo"></a>
        <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: instagram"></a>
        <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: twitter"></a>
        <a href="#" class="uk-icon-link uk-margin-small-right" uk-icon="icon: youtube"></a>
      </div>
      <div class="uk-flex-first@m uk-text-left@m">
        <p class="uk-text-small">Copyright 2018 </p>
      </div>
    </div>
  </div>
</footer>