<div class="uk-container hero">
  <h1 class="uk-heading-primary uk-text-center uk-margin-large-top uk-light">Create a Knowledge Base with Ease</h1>
  <div class="uk-flex uk-flex-center">
  </div>
</div>