<div class="row">
  <% @categories.each do |category|%>
    <div class="col-md-4">
      <div class="card category-box">
        <%=link_to "#{category.name.capitalize}", category_path(category), class: "btn btn-lg btn-send card"%> 
      </div>
    </div>
  <%end%>
</div>