<div class="uk-section uk-section-small uk-padding-remove-bottom section-content">
  <div class="uk-container uk-position-relative">
    <div uk-grid>
      <div class="uk-width-3-4@m">
        <article class="uk-article">
          <header>
            <h1 class="uk-article-title uk-margin-bottom">Search Results for: <%= params[:search] %></h1>
          </header>
          <%= render 'shared/articles'%>
        </article>
      </div>
    </div>
    <%= link_to "Back", :back,  class: "btn btn-primary"%>
  </div>
</div>