<% @articles.each do |article|%>
  <h2><%= link_to article.name, category_article_path(@category, article) %></h2>
  <h4><%= article.description %></h4>
  Created by: <%= article.user.email %>
<%end%>
<%= link_to 'Back', categories_path, class: "btn btn-primary" %>
